<h1>Shopping List</h1>
<form action="/items_added" method="post">
  <label for="new-item">Add a Item</label>
  <input id="new-item" name="new-item" type="text">
  <button type="submit">Submit</button>
</form>
